# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Prototype4.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\kentf\Documents\UVU College\Spring 2021\DGM 1610\Unit12\Prototype4\.idea\.idea.Prototype4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
